# =========================================================================
# CONFIGURACIÓN DE ENTORNO (EJEMPLO) - API DASHBOARD
# =========================================================================

# URL Base del Backend
# Define la dirección base de la API externa (ej: https://api.tu-servidor.com/api)
API_URL=your_api_url_here

# Clave de API para Autenticación
# Define el Token secreto para autorizar las peticiones.
API_KEY=your_api_key_here
